body {
    background-image: url('fundo.png');
    font: 16px Arial, Helvetica, sans-serif;
}

.principal {
    width: 900px;
}

a {
    text-decoration: none;
    color: #4b566a; 
    font-weight: bold;
    padding: 5px;
}

.texto-principal {
    background-color: #e8e8d9;
    padding: 5px;
}

.menu-navegacao {
    padding: 18px;
    background: #c5c5b2;
}

.rodape {
    text-align: center;
}

h3 {
    color: #828271;
	font-size: 1.2em;
}

.imagens {
    border: 10px solid #c3c3ae;
}